<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
    <style>
        .tab1 {
            tab-size: 10;
        }
    </style>
  <p>
    Hello <strong>{{.FirstName}}</strong>. <br>
    You just purchased <strong>{{.NumberOfTickets}}</strong> Ticket(s).
    <br>
    <br>
    Will be expecting you at the Go-Conference :)
    <br>
    <br>
    Be well! 
    <br>    
  </p>
  <pre>&emsp; &emsp; Gift (go-team leader)</pre>

</body>

</html>